 <section class="orders light-section"> 
    <% if(orders.length){ %>
        <div class="container mx-auto pt-12 mb-20 " >
            <h1 class="font-bold text-3xl  mb-20 border-b py-4 text-center" >All Orders</h1>
            <table class="w-11/12 m-auto table-auto bg-gray-400 border ">
                    <thead class="border border-black">
                        <tr class="text-black border " >
                            <th class="px-4 py-2 border text-center "> Orders </th>
                            <th class="px-4 py-2 border text-center text-black"> Address </th>
                            <th class="px-4 py-2 border text-center"> Date </th>
                            <th class="px-4 py-2 border text-center"> Time </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach((order)=>{ %>
                        <tr class="text-black" >
                            <td class="border text-center px-4 py-2 orderId"  > <%= order._id %> </td>
                            <td class="border text-center px-4 py-2" > <%= order.address %> </td>
                            <td class="border text-center px-4 py-2" > <%= moment(order.createdAt).format('DD-MM-YYYY') %> </td>
                            <td class="border text-center px-4 py-2" > <%= moment(order.createdAt).format('hh:mm A') %> </td>
                        </tr>
                        <% }) %>
                    </tbody>
            </table>
        </div>
    <% }else{ %>
        <div class="mb-20">
            <div class="mt-20">
                <p class=" text-center text-6xl pb-8">You have not ordered yet 😐</p>
                <p class="text-center pb-4">You have nothing in order section. </p>
                <p class="text-center mb-10 text-xl">To order Delicious food go to Main page😉</p>
            </div>
            <div class="py-10  flex justify-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeqybZd14_xQjHmlCaq84O27RdaqCKACCIp8EoCcedvGVHIhqipzNa5TlB2NCQcc8TvPo&usqp=CAU" alt="img" class="empty-cart-img">
            </div>
            <a href="/items" class="py-6 px-20 ogi backCart rounded-full mb-20">GO TO ORDER</a>
        </div>
    <% } %>
</section>  